
div.night{background: #444444; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #444444 0%, #232323 100%); 
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#444444), color-stop(100%,#232323)); 
background: -webkit-radial-gradient(center, ellipse cover, #444444 0%,#232323 100%); 
background: -o-radial-gradient(center, ellipse cover, #444444 0%,#232323 100%); 
background: -ms-radial-gradient(center, ellipse cover, #444444 0%,#232323 100%);
background: radial-gradient(ellipse at center, #444444 0%,#232323 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#232323',GradientType=1 ); }

div.day { background: -moz-radial-gradient(center, ellipse cover,  #fefefe 0%, #f6f6f6 47%, #c9c9c9 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fefefe), color-stop(47%,#f6f6f6), color-stop(100%,#c9c9c9));
	background: -webkit-radial-gradient(center, ellipse cover,  #fefefe 0%,#f6f6f6 47%,#c9c9c9 100%);
	background: -o-radial-gradient(center, ellipse cover,  #fefefe 0%,#f6f6f6 47%,#c9c9c9 100%); 
	background: -ms-radial-gradient(center, ellipse cover,  #fefefe 0%,#f6f6f6 47%,#c9c9c9 100%); 
	background: radial-gradient(center, ellipse cover,  #fefefe 0%,#f6f6f6 47%,#c9c9c9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#c9c9c9',GradientType=1 ); }
